.select2-container .select2-selection--single{
  height:auto !important
}
/* Sort Table */

ul.table li{
    border-bottom:1px solid #ddd;
    padding:8px 0px;
    clear: both;
    overflow: hidden;
    cursor:pointer;

}
.fa-arrow-circle-right{
  font-size:14px;
}

ul.header-table li:first-child{

    background-color:#efefef;
    cursor:default !important;
    font-weight:bold;
    border-top:1px solid #ddd;
}



.bootstrap-dialog .modal-header{
  border-radius:0px !important;
}

.img-thumb{
  width:100px;
}

/* loading bar */
body.wait *,body.wait
{
    cursor: progress !important;
}

.loading-bar{
    position:fixed;
    top:-100px;
    width:100%;
    z-index:1060;
}

.pdt-ajax-loader{
    width:150px;
    margin:0 auto;
    z-index:1060;
    background:rgba(0,0,0,.6);
    background:#333\9;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;border-radius:5px;
    position:relative;
}

.pdt-ajax-loader i{
    position:absolute;
    top:7px;
    left:20px;
}

.pdt-ajax-loader .text{
    padding:5px;
    color:#fff;
    text-align:center;
    font-size:14px
    text-shadow:0 1px 1px rgba(0,0,0,.8);
    -webkit-animation:blinkLoading 1s linear infinite;
    -moz-animation:blinkLoading 1s linear infinite;
    -ms-animation:blinkLoading 1s linear infinite;
    -o-animation:blinkLoading 1s linear infinite;
    animation:blinkLoading 1s linear infinite
}

@-webkit-keyframes blinkLoading{
    from{opacity:.4}50%{opacity:1}to{opacity:.4}
}
@-moz-keyframes blinkLoading{
    from{opacity:.4}50%{opacity:1}to{opacity:.4}
}
@-ms-keyframes blinkLoading{
    from{opacity:.4}50%{opacity:1}to{opacity:.4}
}
@-o-keyframes blinkLoading{
    from{opacity:.4}50%{opacity:1}to{opacity:.4}
}
@keyframes blinkLoading{
    from{opacity:.2}50%{opacity:1}to{opacity:.2}
}

/* end loading bar */

/* Message Bar */


/* start message-bar */
.message-bar{
    width:100%;
    position:fixed;
    top:-200px;
    left:0px;
    z-index:3000;
}
.message-bar .alert{
    font-size:14px;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    padding:10px !important;
    min-width:800px;
    max-width:1055px;
    margin:0 auto;
    position:relative;
    text-align:center;
}
.message-bar .alert .status-label{
    position:absolute;
    top:-1px;
    left:-1px;
    height:105%;
    padding:10px 20px;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    -moz-border-top-left-radius:4px;
    -moz-border-bottom-left-radius:4px;
    -webkit-border-top-left-radius:4px;
    -webkit-border-bottom-left-radius:4px;
}
.message-bar .alert.success{
  border:1px solid #5cb85c;
}
.message-bar .alert.warning{
  border:1px solid #ec971f;
}

.message-bar .alert .status-label .fa{
    font-size:10px;
}
.message-bar .alert .success{
    color: #3c763d;
    background-color: #5cb85c;
}
.message-bar .alert .error{
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
.message-bar .alert .warning{
    background-color: #f0ad4e;
    border-color: #eea236
}
.message-bar .message-alert{
    background-color:#fff;
}

/* End Message Bar */

ul,li{
  padding:0px;
  margin:0px;
}
.form-control{
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.mandatory{
	color:red;
}

.btn-circle{

	border-radius:50% !important;
	-moz-border-radius:50% !important;
	-webkit-border-radius:50% !important;
}
/* Progress Bar */

.progressbar {
	margin: 0;
	padding: 0;
	counter-reset: step;
	margin-bottom:20px;
	overflow:hidden;
}
.progressbar li {
  	list-style-type: none;
  	width: 25%;
  	float: left;
  	font-size: 12px;
  	position: relative;
  	text-align: center;
  	text-transform: uppercase;
  	color: #7d7d7d;
}
.progressbar li:before {
  	width: 50px;
  	height: 50px;
  	content: counter(step);
  	counter-increment: step;
  	line-height:44px;
  	border: 2px solid #7d7d7d;
  	display: block;
  	text-align: center;
  	margin: 0 auto 10px auto;
  	border-radius: 50%;
  	background-color: white;
  	font-weight:bold;
}
.progressbar li:after {
  	width: 67%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #ddd;
    top: 24px;
    left: 29px;
    left: -33%;
    /* z-index: -1; */
}
.progressbar li:first-child:after {
  	content: none;
}
.progressbar li.active {
  	color: green;
}
.progressbar li.active:before {
  	border-color: #55b776;
}
.progressbar li.active + li:after {
  	background-color: #55b776;
}


ul.photo-list li {
    display: inline-block;
    width: 23%;
    margin-left: 10px;
    position: relative;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

ul.photo-list li img {
    width: 100%;
    height: 140px;
    cursor: pointer;
}

.img-thumbnail{
  width:80px !important
}


